.text-purple {
    color: #792CA7;
}
.container-banner{
    height: 100%;
    width: 80vw;
}
.container-form {
    background-color: #2D3A4F;
}
.btn-zea-green {
    background: #09cb9b;
    border: none;
    border-radius: 30px;
    color: #fff;
    display: block;
    margin: 50px auto 0;
    padding: 21px 0;
    width: 120px;
}