---
layout: "default"
---
<div class="container-fluid">
    <div class="d-flex justify-content-center flex-wrap m-5 ">
        <div class="row container-banner">
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                <h3 class="text-purple">{{ site.data.learnMore.BannerOne[0].title }}</h3>
                <p>{{ site.data.learnMore.BannerOne[0].description }}</p>
                <p>{{ site.data.learnMore.BannerOne[0].description2 }}</p>
            </div>
            <div class="col-12 col-md-6">
                <img src="{{site.data.learnMore.BannerOne[0].img}}" class="rounded img-fluid"
                    alt="{{site.data.learnMore.BannerOne[0].title}}" />
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center flex-wrap m-5 ">
        <div class="row container-banner">
            <div class="col-12 col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{site.data.learnMore.BannerTwo[0].img}}"></iframe>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                <h3 class="text-purple">{{ site.data.learnMore.BannerTwo[0].title }}</h3>
                <p>{{ site.data.learnMore.BannerTwo[0].description }}</p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center flex-wrap m-5 ">
        <div class="row container-banner">
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                <h3 class="text-purple">{{ site.data.learnMore.BannerThree[0].title }}</h3>
                <p>{{ site.data.learnMore.BannerThree[0].description }}</p>
                <p>{{ site.data.learnMore.BannerThree[0].description2 }}</p>
            </div>
            <div class="col-12 col-md-6">
                <img src="{{site.data.learnMore.BannerThree[0].img}}" class="rounded img-fluid"
                    alt="{{site.data.learnMore.BannerThree[0].title}}" />
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center flex-wrap m-5 ">
        <div class="row container-banner">
            <div class="col-12 col-md-6">
                <img src="{{site.data.learnMore.BannerFour[0].img}}" class="rounded img-fluid"
                    alt="{{site.data.learnMore.BannerFour[0].title}}" />
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                <h3 class="text-purple">{{ site.data.learnMore.BannerFour[0].title }}</h3>
                <p>{{ site.data.learnMore.BannerFour[0].description }}</p>
            </div>
        </div>
    </div>
</div>
<div class="container-form m-0 ">
    <div class="container">
        <div class="d-flex justify-content-center">
            <h2 class="text-white p-5">Get in touch</h2d>
        </div>
        <form>
            <div class="form-group">
                <label for="formName">Name</label>
                <input type="text" class="form-control" id="formName" placeholder="Example input placeholder">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>